@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");

body,
button,
input {
  font-family: "Alan Sans", Helvetica, sans-serif;
}

fieldset {
  border: none;
  box-sizing: border-box;
}

#canvas-container {
  width: 100%;
  height: 50vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

canvas {
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  background: conic-gradient(#ddd 25%, #bbb 0 50%, #ddd 0 75%, #bbb 0);
  background-size: 32px 32px;
  aspect-ratio: unset;
}

#carter-examples {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

#wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
}

pre {
  letter-spacing: -0.05em;
  font-size: xx-small;
  white-space: pre-wrap;
  word-break: break-all;
  user-select: all;
}

#main-carter {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  grid-area: carter;

  grid-template-rows: 1fr auto;
  gap: 1vw;
  padding-bottom: 2vw;
  box-sizing: border-box;
}

.feature-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 1vw;

  height: 100%;
  min-height: 0;

  grid-area: features;
}

.feature-page > button {
  min-height: 0;
  height: 100%;
}

#features-book {
  grid-area: book;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  padding: 1vw;
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    "tabs"
    "features"
    "controls";

  grid-template-rows: auto 1fr auto;
}

#page-tabs {
  grid-area: tabs;
  display: flex;
  flex-flow: row;
  gap: 0.3vw;
}

#page-tabs input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 5px;
}

#main-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

  background-image: url(/checker-light.svg);
  background-size: 250px 250px;
}

#carter-builder {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "carter book";

  width: 100vw;
  max-width: 900px;
  height: 100dvh;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;

  gap: 2vw;
}

button,
input {
  padding: 0.5vw;
  border-radius: 0.5vh;
  border-style: none;
  box-sizing: border-box;

  min-width: 24px;
  min-height: 24px;

  background-color: light-dark(#d5ab88, #af7e57);
}

@media (any-pointer: coarse) {
  button,
  input {
    min-width: 44px;
    min-height: 44px;
  }
}

button:disabled,
input:disabled {
  background-color: light-dark(#ddc4a9, #7c533e);
  color: unset;
}

button:hover:not(:disabled),
input:hover:not(:disabled) {
  filter: brightness(75%);
}

input,
button {
  font-size: medium;
}

body {
  margin: 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  grid-area: nav;
  gap: 0.4vw;
}

nav > button {
  flex: 1 1 0px;
  padding: 1em 0;

  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: small;
}

h1 {
  grid-area: header;
  margin-bottom: 0;
  font-size: large;
}

legend {
  font-size: large;
  font-weight: normal;
}

#offset-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: controls;
  gap: 0.5vw;
}

#offset-buttons > button:nth-child(2),
#offset-buttons > button:nth-child(4) {
  width: 75%;
  max-width: 10vh;
  justify-self: right;
}

#offset-buttons > button:nth-child(3),
#offset-buttons > button:nth-child(5) {
  width: 75%;
  max-width: 10vh;
  justify-self: left;
}

#offset-buttons > button:nth-child(2) {
  background-image: url(/button-icons/pointer-left.svg);
}

#offset-buttons > button:nth-child(3) {
  background-image: url(/button-icons/pointer-right.svg);
}

#offset-buttons > button:nth-child(4) {
  background-image: url(/button-icons/pointer-up.svg);
}

#offset-buttons > button:nth-child(5) {
  background-image: url(/button-icons/pointer-down.svg);
}

#offset-buttons > button {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  aspect-ratio: 1;
  color: transparent;
  padding: 1vw;
}

nav > button:before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: url(/button-icons/nav-dark/bases.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#bases-button:before {
  background-image: url(/button-icons/nav-dark/bases.svg);
}

#hair-button:before {
  background-image: url(/button-icons/nav-dark/hair.svg);
}

#hat-button:before {
  background-image: url(/button-icons/nav-dark/hat.svg);
}

#blush-button:before {
  background-image: url(/button-icons/nav-dark/blush.svg);
}

#mouth-button:before {
  background-image: url(/button-icons/nav-dark/mouth.svg);
}

#eyes-button:before {
  background-image: url(/button-icons/nav-dark/eyes.svg);
}

#eyebrows-button:before {
  background-image: url(/button-icons/nav-dark/eyebrows.svg);
}

#hands-button:before {
  background-image: url(/button-icons/nav-dark/hand.svg);
}

#glasses-button:before {
  background-image: url(/button-icons/nav-dark/glasses.svg);
}

#fx-button:before {
  background-image: url(/button-icons/nav-dark/fx.svg);
}

#mustache-button:before {
  background-image: url(/button-icons/nav-dark/mustache.svg);
}

@media (prefers-color-scheme: dark) {
  canvas {
    background-image: conic-gradient(#aaa 25%, #888 0 50%, #aaa 0 75%, #888 0);
  }

  #main-wrapper {
    background-image: url(/checker-dark.svg);
  }

  #bases-button:before {
    background-image: url(/button-icons/nav-light/bases.svg);
  }

  #hair-button:before {
    background-image: url(/button-icons/nav-light/hair.svg);
  }

  #hat-button:before {
    background-image: url(/button-icons/nav-light/hat.svg);
  }

  #blush-button:before {
    background-image: url(/button-icons/nav-light/blush.svg);
  }

  #mouth-button:before {
    background-image: url(/button-icons/nav-light/mouth.svg);
  }

  #eyes-button:before {
    background-image: url(/button-icons/nav-light/eyes.svg);
  }

  #eyebrows-button:before {
    background-image: url(/button-icons/nav-light/eyebrows.svg);
  }

  #hands-button:before {
    background-image: url(/button-icons/nav-light/hand.svg);
  }

  #glasses-button:before {
    background-image: url(/button-icons/nav-light/glasses.svg);
  }

  #fx-button:before {
    background-image: url(/button-icons/nav-light/fx.svg);
  }

  #mustache-button:before {
    background-image: url(/button-icons/nav-light/mustache.svg);
  }
}

@media (max-width: 768px) {
  nav > button:before {
    display: none;
  }

  nav {
    flex-flow: row wrap;
  }

  nav > button {
    flex: initial;
    flex-grow: 1;
    padding: 1vw;
    box-sizing: border-box;
  }

  #carter-builder {
    grid-template-areas:
      "header"
      "nav"
      "carter"
      "book";

    grid-template-columns: 100vw;
    grid-template-rows: auto auto 2fr 5fr;

    width: 100vw;
  }

  legend {
    font-size: small;
  }
}
